  /* Google Fonts - Barlow */



@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@media (max-width: 768px) {

    .main-container {
        box-sizing: border-box;
        font-family: "Barlow";
        font-weight: 500;
        font-style: normal;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0px 10%;
    }
    
    .contact-hero{
        background:white;
        padding: 20px 50px;
        background: url(/image/contacthero.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        width: 450px;
        color:white;
        text-align:center;
    }
    
    
    .form-section{
        min-width:100%;
        border: 1px solid var(--deepgrey-color);
        border-radius: 30px;
    }
    
  .why-contact-us, .message{
        background: var(--lightgray-color);
        padding: 10px;
        margin:10px;
    
    }
    .name-email{
        background:none;
    }
    
    .name-email, .why-contact-flex{
        flex-direction:column;
        align-items:center;
    }
    
    .name-form, .email-form{
        margin: 10px;
        width:100%;
        background: var(--lightgray-color);
        padding: 10px 30px;
        border-radius: 10px;
    }
    
    .name-form input, .email-form input{
        width:100%;
        margin-top: 20px;
        background: transparent;
        border-width:0px 0px 2px 0px;
        padding: 10px;
    }
    
    .name-form ::placeholder, .email-form ::placeholder{
        color: var(--deepgrey-color);
    }
    
    .why-contact-us{
        border-radius: 20px;
        padding: 20px;
        font-size: 25px;
    }
    
    .why-contact-left{
        width: 100%;
    }
    
    .why-contact-left label{
        padding-top:10px;
    }
    
    .why-contact-left input[type="checkbox"]{
            margin-right: none;  
    }
    
    .message textarea{
        width: 100%;
        background:transparent;
        border-width:0px 0px 2px 0px;
        border-style:solid;
        border-radius:20px;
    }
    .message{
        border-radius:20px;
    }
    
    .form-botton{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin: 60px 0px;
    }
    input[type=submit]{
        background: var(--primary-button-color);
        color: white;
        border:none;
        padding: 10px 60px;
        font-size: 25px;
        border-radius:20px;
    }
    
    .operating-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    }
    
    .operating-hour, .stay-tuned-container{
        width:100%;
        display:flex;
    }
    
    .operating-hour{
        display: flex;
        padding: 20px 0px;
        align-items: center;
        border-right:none;
    }
    
    .operating-hour h4, .operating-hour h5{
        font-family: "Barlow";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }
    
    .operating-hour h5{
        background:black;
        color:white;
        padding: 20px 30px;
        border-radius: 5px;
    }
    
    .stay-tuned-container{
        border-top:1px solid var(--deepgrey-color);
        text-align: center;
        padding:20px;
    }
    
    .stay-tuned{
        flex-direction: column;
        justify-content: center;
        width:100%;
    }
    
    .stay-tuned{
        border:none;
        padding: 20px;
        border-radius: 10px;
    }
    
    .stay-tuned  .stay-button{
        margin-left: 30px;
    }
    
    .img-stay{
        padding: 10px;
        border-radius: 10px;
    }
    
    .stay-text h5{
        font-size:20px;
    }
    
    
   

    
    .squareup-container{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        min-width:70%;
        margin: 0px 10%;
    }
    
    .square-up-today{
        flex-direction: column;
        align-items:center;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .square-img{
        width:60%;
        margin-bottom: 30px;
    }
   
    .square-text{
    width: 100%;
    }
    
    .square-text h5{
        font-size: 25px;
        font-family: "Barlow";
        font-style: normal;
        font-weight: 500;
        color:var(--deepgrey-color);
        text-align:center;
    }
    
    .square-text h6{
        font-size: 18px;
       margin-right: 0;
       text-align:center;
       text-align:center;
    }
    
    .square-box-2{
        width:100%;
        background:var(--deepgrey-color);
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        border:none;
        padding: 40px 60px;
    
    }
    
    .square-box-2 p{
        font-size: 20px;
        font-family: "Barlow";
        font-weight: 600;
        font-style: normal;
        color:white;
    }
    .square-box-2 h6{
        background:var(--lightgray-color);
        font-size: 20px;
        padding: 40px 15px;
        border-radius: 10px;
        text-align:center;
        margin-bottom: 20px;
    }
    
    .square-box-2 button{
        width:100%;
    }   

/*---========== ACCORDANCE START HERE ============*/


.faq-text .h2-text-design{
    font-size: 30px;
}

.faq-text .h6-text-design{
    font-size: 15px;
}



.faq-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align:center;
    min-width:100%;
    margin-bottom: 300px;
}

.faq-question-flex{
    flex-direction: column;
    margin-top: 5px;
}

.accordance-each-side{
    width:100%;
    padding:15px;
}

.accord-box{
    display:flex;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
}

.accord-number h5{
    background:var(--light-orange);
    text-align: center;
    padding: 20px;
    font-size: 25px;
    margin: 20px;
}

/*---========== ACCORDANCE ENDS HERE ============*/






/*---========== BLOG CSS START HERE ============*/
.blog-main-container{
    width: 100%;
}

.title{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.title-top{
    display:flex;
}

.title-top h6{
    margin: 5px;
    font-size: 15px;
}

.title-top h6:nth-child(2){
    color:var(--primary-button-color);
}

.title h2{
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
}

.title-img img{
    width:100%;
}

article{
    width: 100%;
    margin-top: 20px;
}

article b{
    color: var(--deepgrey-color);
    font-size: 20px;
    line-height: 35px;
}

article p{
    color: var(--grey-color);
    line-height: 25px;
}



.blog-stay-connected{
    border:none;
    padding: 20px;
    padding-left: 20px;
    justify-content: center;
    width: 100%;
}

.blog-stay-connect-top{
    width: 100%;
    margin-bottom: 30px;
}

.blog-stay-connect-top h2, .blog-stay-connect-bottom h2{
    font-size: 25px;
}

.blog-stay-connect-bottom{
    flex-direction: column;
    align-items: center;
    border:1px solid var(--deepgrey-color);
    border-radius: 10px;
    width:100%;
    flex-shrink: 0;
    text-align: left;
}
.blog-stay-connect-bottom .left, .blog-stay-connect-bottom .right{
    width:100%;
}

.blog-stay-connect-bottom .left{
    margin-right:0px;
    padding:20px 10px;
}

.blog-stay-connect-bottom .right{
    position:relative;
}

.blog-stay-connect-bottom .right form input[type=email]
{
    padding: 20px;
    width:100%;
    border-radius: 20px;
    border: 1px solid var(--primary-button-color);
}

.blog-stay-connect-bottom .right form input[type=submit]
{
position:absolute;
top: 23px;
bottom: 5px;
right: 26px;
width: 110px;
height: 59px;
flex-shrink: 0;
z-index: 10;
}

.blog-stay-connect-bottom .right form{
   padding: 20px;
}
}
