{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emboldlab || Empowering Your Digital Journey: Turning Ideas into Successful Enterprises with Product Design & Development</title>
<!-- Standard Favicon -->
{% comment %} <link rel="icon" type="image/x-icon" href="https://asset.cloudinary.com/dan1kkqtc/01882bfef3e91a2e584874132d89d072"> {% endcomment %}
<link rel="icon" type="image/x-icon" href="{% static 'assets/image/favicon.ico' %}">


 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


{% block head %}

{% endblock %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
 <style>
     *{
         font-family: "Barlow";
        }
        </style>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" />
    <div class="com">
      <a href="https://t.me/+J7hvRc7mMjNlYTI0">Join Community <i class="fa fa-telegram"></i></a>
    </div>

 <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/responsive.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


<style>
.btn:hover{
    color: white;
    background: darkorange;
    border: none;
}
*{
    margin:0;
}
</style>
</head>

<body>

    <header>
        <nav
            class="navbar navbar-expand-lg navbar-light bg-white"
        >
            <div class="container">
                <a class="navbar-brand" href="/"><img
                    src="{% static 'assets/image/EmboldLabLogo.png' %}"
                    class="img-fluid img-brand rounded-top"
                    alt="EmboldLab Logo"
                />
                </a>
                <button
                    class="navbar-toggler hidden-lg-up"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId"
                    aria-controls="collapsibleNavId"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                ><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}" aria-current="page"
                                >Home
                                </a
                            >
                        </li>
                                            <!-- Dropdown for Courses -->

                    <li class="nav-item dropdown">

                        <a

                            class="nav-link dropdown-toggle"

                            href="#"

                            id="coursesDropdown"

                            role="button"

                            data-bs-toggle="dropdown"

                            aria-expanded="false"

                        >

                          <i class="fa fa-book"></i>  Training

                        </a>

                        <ul class="dropdown-menu" aria-labelledby="coursesDropdown">

                            <!-- Bootcamp Dropdown -->

                            <li class="dropdown-submenu">

                                <a class="dropdown-item" href="{% url 'bootcamp_list' %}">Bootcamp</a>

                            </li>

                            <!-- Accelerator Program Dropdown -->

                            <li class="dropdown-submenu">

                                <a class="dropdown-item" href="{% url 'masterclass' %}">Masterclass</a>

                            </li>

                            <!-- Masterclass Dropdown -->

                            <li class="dropdown-submenu">

                                <a class="dropdown-item" href="{% url 'accelerator' %}">Accelerator Program</a>

                            </li>

                        </ul>

                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'services' %}">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'work' %}">Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about_us' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog' %}">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://boldkonnect.com">Telecommunication</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ship' %}">Drop Shipping</a>
                        </li>













    <li class="nav-item dropdown">

                        <a

                            class="nav-link dropdown-toggle"

                            href="#"

                            id="coursesDropdown"

                            role="button"

                            data-bs-toggle="dropdown"

                            aria-expanded="false"

                        >

                          <i class="fa fa-user"></i> Account

                        </a>



                        <ul class="dropdown-menu" aria-labelledby="coursesDropdown">

                            <!-- Bootcamp Dropdown -->


  {% if user.is_authenticated %}



                            <li class="dropdown-submenu">

                                <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>

                            </li>

                            <!-- Accelerator Program Dropdown -->

                            <li class="dropdown-submenu">

                                <a class="dropdown-item" href="{% url 'profile_update' %}">Profile</a>

                            </li>

                            <!-- Masterclass Dropdown -->

                            <li class="dropdown-submenu">

                                <a class="dropdown-item" href="{% url 'message_page' %}">Messages</a>

                            </li>

                            <li class="dropdown-submenu">

                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>

                            </li>



                             {% elif not user.is_authenticated %}

                                 <li class="dropdown-submenu">

                                <a class="dropdown-item" href="{% url 'login' %}">Login</a>

                            </li>


                            {% endif %}



                        </ul>

                    </li>




                    </ul>
                      <a href="{% url 'contact' %}">  <button class="btn nav-btn my-2 my-sm-0" >Contact Us</button> </a>
                </div>
            </div>
        </nav>
    </header>

            {%  block content   %}

            {%   endblock %}

  <footer class="footer-section">
      <div class="footer-head">
        <div class="logo">
          <img src="{% static 'assets/image/EmboldLabLogo.png' %}" class="img-fluid img-brand rounded-top" alt="EmboldLab Logo"/>
        </div>
          <div class="menu">
            <a href="{% url 'about_us' %}">About</a>
            <a href="https://boldkonnect.com">Telecommunication</a>
            <a href="{% url 'ship' %}">Dropshipping</a>
            <a href="#">Privacy Policy</a>
          </div>
        <div>
          <div class="connect">
            <span>Stay Connected</span>
           <div>
            <a href="https://www.facebook.com/share/158oEHvAuE/?mibextid=LQQJ4d"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
            <a href="https://x.com/emboldd?s=21"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/embold-lab/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
           </div>
          </div>
        </div>
      </div>
      <div class="footer-foot">
        <div class="con">
            <div><i class="fa fa-envelope" aria-hidden="true"></i>emboldlab@gmail.com</div>
            <div><i class="fa fa-phone" aria-hidden="true"></i>+2349025881070</div>
            <div><i class="fa fa-map-marker" aria-hidden="true"></i>Lagos</div>
        </div>
        <div class="copy">
            <div><span>&copy;</span><span><script>document.write(new Date().getFullYear());</script></span> Embold Lab Alrights reserved.</div>

        </div>
      </div>

  </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- Swiper JS -->

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="{% static 'assets/js/index.js' %}"></script>





<!-- JavaScript -->

    <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>
