{% extends 'base.html' %}
 <!-- Title -->
<title>{% block title %} FAQs {% endblock %}- Embold Design || Empowering Your Digital Journey: Turning Ideas into Successful Enterprises with Product Design & Development</title>
{% load static %}
{% block content %}


  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
    <div class="bg-img-start" style="background-image: url(../static/assets/svg/components/card-11.svg);">
      <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
          <h1>FAQ</h1>
          <p>Search our FAQ for answers to anything you might ask.</p>
        </div>
      </div>
    </div>
    <!-- End Hero -->

    <!-- FAQ -->
    <div class="container content-space-2 content-space-b-lg-3">
    <div class="w-lg-75 mx-lg-auto">
    <div class="d-grid gap-10">
        <div class="d-grid gap-3">
            

            <!-- Accordion -->
            <div class="accordion accordion-flush accordion-lg" id="accordionFAQBasics">
                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsOne">
                        <a class="accordion-button" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsOne" aria-expanded="true" aria-controls="collapseBasicsOne">
                            What is Embold Design?
                        </a>
                    </div>
                    <div id="collapseBasicsOne" class="accordion-collapse collapse show" aria-labelledby="headingBasicsOne" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            Embold Design is a pioneering tech company committed to delivering practical solutions and innovative strategies.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsTwo">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsTwo" aria-expanded="false" aria-controls="collapseBasicsTwo">
                            What services does Embold Design offer?
                        </a>
                    </div>
                    <div id="collapseBasicsTwo" class="accordion-collapse collapse" aria-labelledby="headingBasicsTwo" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            We offer a variety of services including business consultation, financial projections, business analysis, business design and development, and bootcamp training.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsThree">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsThree" aria-expanded="false" aria-controls="collapseBasicsThree">
                            What are the bootcamps offered by Embold Design?
                        </a>
                    </div>
                    <div id="collapseBasicsThree" class="accordion-collapse collapse" aria-labelledby="headingBasicsThree" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            We offer bootcamps in Product Design, Web Design/Development, Content Creation/Digital Marketing, Data Analytics, Graphics Design, Product Management, and Project Management.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsFour">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsFour" aria-expanded="false" aria-controls="collapseBasicsFour">
                            Who can attend the bootcamps?
                        </a>
                    </div>
                    <div id="collapseBasicsFour" class="accordion-collapse collapse" aria-labelledby="headingBasicsFour" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            Our bootcamps are open to anyone interested in enhancing their skills, whether you are a beginner looking to enter the field or a professional seeking to update your skills.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsFive">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsFive" aria-expanded="false" aria-controls="collapseBasicsFive">
                            What can I expect to learn from the Bootcamp?
                        </a>
                    </div>
                    <div id="collapseBasicsFive" class="accordion-collapse collapse" aria-labelledby="headingBasicsFive" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            These bootcamps are designed to provide practical, hands-on training and are suitable for both beginners and advanced learners. You will also work on real-world projects to build a portfolio.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsSix">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsSix" aria-expanded="false" aria-controls="collapseBasicsSix">
                            How long do the bootcamps last?
                        </a>
                    </div>
                    <div id="collapseBasicsSix" class="accordion-collapse collapse" aria-labelledby="headingBasicsSix" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            Our bootcamps last for 2 months.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsSeven">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsSeven" aria-expanded="false" aria-controls="collapseBasicsSeven">
                            Where are the bootcamps held?
                        </a>
                    </div>
                    <div id="collapseBasicsSeven" class="accordion-collapse collapse" aria-labelledby="headingBasicsSeven" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            Our bootcamps are primarily held online, making them accessible to participants worldwide.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsEight">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsEight" aria-expanded="false" aria-controls="collapseBasicsEight">
                            How can I register for a bootcamp?
                        </a>
                    </div>
                    <div id="collapseBasicsEight" class="accordion-collapse collapse" aria-labelledby="headingBasicsEight" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            You can register for our bootcamps through our website. Simply fill out the registration form and submit it. We will contact you with further details.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsNine">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsNine" aria-expanded="false" aria-controls="collapseBasicsNine">
                            What is the cost of the bootcamp?
                        </a>
                    </div>
                    <div id="collapseBasicsNine" class="accordion-collapse collapse" aria-labelledby="headingBasicsNine" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            The cost of our bootcamps is free. However, you are expected to pay a commitment fee of N5000 only.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsTen">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsTen" aria-expanded="false" aria-controls="collapseBasicsTen">
                            What support do you offer during the bootcamps?
                        </a>
                    </div>
                    <div id="collapseBasicsTen" class="accordion-collapse collapse" aria-labelledby="headingBasicsTen" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            During the bootcamps, you will receive support from our experienced instructors, access to course materials, and opportunities for one-on-one mentorship.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsEleven">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsEleven" aria-expanded="false" aria-controls="collapseBasicsEleven">
                            Can I get a refund if I am unable to complete the bootcamp?
                        </a>
                    </div>
                    <div id="collapseBasicsEleven" class="accordion-collapse collapse" aria-labelledby="headingBasicsEleven" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            Our refund policy is outlined in our terms and conditions. Please refer to it for detailed information.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsTwelve">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsTwelve" aria-expanded="false" aria-controls="collapseBasicsTwelve">
                            I love what you are doing at Embold. How can I partner?
                        </a>
                    </div>
                    <div id="collapseBasicsTwelve" class="accordion-collapse collapse" aria-labelledby="headingBasicsTwelve" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            Kindly visit our partnership page to find out more about this.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsThirteen">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsThirteen" aria-expanded="false" aria-controls="collapseBasicsThirteen">
                            Why should I partner with Embold Design?
                        </a>
                    </div>
                    <div id="collapseBasicsThirteen" class="accordion-collapse collapse" aria-labelledby="headingBasicsThirteen" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            You empower the next generation of creative minds with desirable skills for the future.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->

                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsFourteen">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseBasicsFourteen" aria-expanded="false" aria-controls="collapseBasicsFourteen">
                            How can I reach Embold Design?
                        </a>
                    </div>
                    <div id="collapseBasicsFourteen" class="accordion-collapse collapse" aria-labelledby="headingBasicsFourteen" data-bs-parent="#accordionFAQBasics">
                        <div class="accordion-body">
                            You can reach us via embolddesign@gmail.com
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->
            </div>
            <!-- End Accordion -->
        </div>
    </div>
</div>

    </div>
    <!-- End FAQ -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}