
{% extends 'base.html' %}
{% load static %}
 {% load crispy_forms_tags %}
 {% load cloudinary %}
  <!-- Title -->
<title>{% block title %}  Registration Form  {% endblock %}-  Embold Lab || Empowering Your Digital Journey: Turning Ideas into Successful Enterprises with Product Design & Development</title>

{% block head %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
{% endblock %}
{% block content %}

  <!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main" class="flex-grow-1">
  <div class="form-container container">
    <h1>Embold Learn & Earn Tech Bootcamp Cohort 3.0</h1>
    <p>"Earn up to $50 - $150 Monthly while Learning Practical tech skills with
    Embold. Participant are to pay the sum of N5,000 for certification,
    portfolio development, mentorship, accelerator scheme, design/coding
    challenge, CV revamping, internship opportunities and job search."
    </p>
    <h2>PAYMENT VALIDATE ACCESS TO THE BOOTCAMP </h2>
    <p>Only applicants who made payment would be reached out via email to join
    the bootcamp.</p>
      <form method="post" id="registrationForm" class="needs-validation"  >
            {% csrf_token %}

                    {{ form.non_field_errors }}


            <!-- First Name -->
            <div class="mb-3">
                <label class="form-label" for="id_first_name">Enter Your First Name</label>
                {{ form.first_name }}
                <div class="invalid-feedback">
                    Please provide a valid first name.
                </div>
            </div>

            <!-- Middle Name -->
            <div class="mb-3">
                <label class="form-label" for="id_middle_name">Enter Your Middle Name (optional)</label>
                {{ form.middle_name }}
                <div class="invalid-feedback">
                    Please provide a valid middle name.
                </div>
            </div>

            <!-- Surname -->
            <div class="mb-3">
                <label class="form-label" for="id_surname">Enter Your Surname*</label>
                {{ form.surname }}
                <div class="invalid-feedback">
                    Please provide a valid surname.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="id_phone">Enter Your Phone Number</label>
                {{ form.phone }}
                <div class="invalid-feedback">
                    Please provide a valid phone number.
                </div>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label" for="id_email">Enter Your Email</label>
                {{ form.email}}
                <div class="invalid-feedback">
                    Please provide a valid email address.
                </div>
            </div>

                   <!-- Email -->
            <div class="mb-3">
                <label class="form-label" for="id_email">Referral code *optional</label>
                {{ form.referral_code}}
                <div class="invalid-feedback">
                    Please provide a valid referral code.
                </div>
            </div>

            <!-- Gender -->
            <div class="mb-3">
                <label class="form-label">{{ form.gender.label }}</label>
                {{ form.gender}}
                <div class="invalid-feedback">
                    Please select a gender.
                </div>
            </div>

            <!-- Bootcamp -->
            <div class="mb-3 hidden">

                {{ form.bootcamp|as_crispy_field }}
                <div class="invalid-feedback">
                    Please select a bootcamp.
                </div>
            </div>



            <!-- Level -->
            <div class="mb-3">
                <label class="form-label">What do you see yourself as?
</label>
                {{ form.level }}
                <div class="invalid-feedback">
                    Please select a level.
                </div>
            </div>

            <!-- Laptop Access -->
            <div class="mb-3">
                <label class="form-label" for="id_laptop_access">Do you have access to a laptop?
</label>
                {{ form.laptop_access }}
                <div class="invalid-feedback">
                    Please indicate if you have laptop access.
                </div>
            </div>






            <!-- Full Duration Commitment -->
            <div class="mb-3">
                <label class="form-label">Are you available to commit to the full duration of the program?</label>
                {{ form.full_duration_commitment }}
                <div class="invalid-feedback">
                    Please indicate if you can commit to the full duration.
                </div>
            </div>

      <div class="mb-3">
                <label class="form-label" for="id_source">How did you get to know about us?

</label>
                {{ form.source }}
                <div class="invalid-feedback">
                    Please select a source.
                </div>
            </div>

            <!-- Pledge Dedication -->
            <div class="form-check mb-3">
                {{ form.pledge_dedication|as_crispy_field }}
                <label class="form-check-label" for="id_pledge_dedication">I pledge to make the most of this opportunity by dedicating myself wholeheartedly to my studies, attendance of all classes sessions and projects.</label>
                    <div class="invalid-feedback">
                    Please pledge your dedication.
                    </div>
            </div>

            <!-- Pledge Terms -->
            <div class="form-check mb-3">
                {{ form.pledge_terms |as_crispy_field}}
                <label class="form-check-label" for="id_pledge_terms">I pledge to abide by the Terms and Conditions governing Embold Design throughout my studies and afterward
</label>
                <div class="invalid-feedback">
                    Please accept the terms.
                </div>
            </div>
              <!-- Hidden input for bootcamp_price -->
    {{ form.bootcamp_price }}
<p  style="color: red;">*Note: Please do not use the New Opay Payment option!</p>
            <button type="submit" onclick="payWithPaystack()" class="btn btn-primary btn-lg text-center mb-7">Register And Make Payment</button>
    </form>

</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Bootstrap's custom validation logic
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()


        document.getElementById('registrationForm').addEventListener('submit', function(event) {
            const pledgeDedication = document.getElementById('id_pledge_dedication');
            const pledgeTerms = document.getElementById('id_pledge_terms');
            const email = document.getElementById('id_email');
            const phone = document.getElementById('id_phone');
            const amount = 5000;

            if (!pledgeDedication.checked || !pledgeTerms.checked) {
                event.preventDefault(); // Prevent form submission
                if (!pledgeDedication.checked) {
                    pledgeDedication.closest('.form-group').classList.add('was-validated');
                }
                if (!pledgeTerms.checked) {
                    pledgeTerms.closest('.form-group').classList.add('was-validated');
                }
            }

        });
    </script>

    <!-- Scripts -->
 <!-- Include Paystack inline script -->


<script src="https://js.paystack.co/v1/inline.js"></script>

<script>
    const paymentForm = document.getElementById('registrationForm');

    paymentForm.addEventListener("submit", function(e) {
        e.preventDefault();

        // Get form data
        let email = document.getElementById("id_email").value;
        let amount = document.getElementById("id_bootcamp_price").value;  // Replace with your dynamic amount logic
        let firstName = document.getElementById("id_first_name").value;
        let phone = document.getElementById("id_phone").value;
        const public= '{{myKey}}';


        // Initiate payment with Paystack
        let handler = PaystackPop.setup({
            key: public, // Replace with your public key
            email: email,
            amount: amount * 100,  // Paystack amount is in kobo (100 kobo = 1 Naira)
            currency: 'NGN',
            ref: '' + Math.floor((Math.random() * 1000000000) + 1), // Unique reference, replace with your logic
            onClose: function(){
                alert('Payment window closed.');
            },

            callback: function(response){
                let referenceField = document.createElement("input");
                referenceField.setAttribute("type", "hidden");
                referenceField.setAttribute("name", "transaction_reference");
                referenceField.setAttribute("value", response.reference);
                paymentForm.appendChild(referenceField);

                paymentForm.submit(); // Submit the form after payment

            }
        });

        handler.openIframe();
    }, false);
</script>




  </main>

{% endblock %}