
{% extends 'base.html' %}
 <!-- Title -->
<title>{% block title %} Our Services {% endblock %}- Embold Design || Empowering Your Digital Journey: Turning Ideas into Successful Enterprises with Product Design & Development</title>
{% load static %}

{% block head %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
{% endblock %}

{% block content %}


    <main>
            <div class="container content-space-2 service">
                <div class="row align-items-md-center mb-7 service-head">
                    <h2>Our Services</h2>
                    <p>Transform your brand with our innovative digital solutions that captivate and engage your audience.</p>
                </div>
                <div class="service-head-2">
                    <p>At Embold Lab, we offer professional product design & development solutions. We are passionate about creating stunning, user-centric designs that captivate your audience and elevate your brand. We believe that great design is not just about aesthetics; it's about creating seamless and intuitive user experiences.</p>
                    <span>Our Services Include:</span>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 service-body">
                  <div class="card card-bordered service-card">
                    <div class="card-pinned">
                      <i class="fa fa-id-badge" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                      <div class="mb-3">
                        <h3 class="card-title">
                          Brand Identity
                        </h3>
                        <p>
                          Creation and development of a unique and compelling brand identity that resonates with your target market. Services include logo design, color scheme selection, typography, and overall brand guidelines to ensure a consistent and memorable brand image.
                        </p>
                      </div>
                    </div>
                    <button type="button" onclick="window.location='contact.html'" name="" id="" class="btn">
                      Learn More
                  </button>
                  </div>
                  <div class="card card-bordered service-card">
                    <div class="card-pinned">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                      <div class="mb-3">
                        <h3 class="card-title">
                          CV Writing / Review
                        </h3>
                        <p>
                          Expertly crafted CV writing and review services to highlight your skills, experience, and achievements, ensuring your resume stands out to potential employers and increases your chances of securing interviews.
                        </p>
                      </div>
                    </div>
                    <button type="button" onclick="window.location='contact.html'" name="" id="" class="btn">
                      Learn More
                  </button>
                  </div>
                  <div class="card card-bordered service-card">
                    <div class="card-pinned">
                      <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                      <div class="mb-3">
                        <h3 class="card-title">
                          Business Consultation
                        </h3>
                        <p>
                          Professional business consultation services to help you identify opportunities, solve problems, and develop strategies for growth and improvement. Our expert advice is tailored to your specific business needs and goals.
                        </p>
                      </div>
                    </div>
                    <button type="button" onclick="window.location='contact.html'" name="" id="" class="btn">
                      Learn More
                  </button>
                  </div>
                  <div class="card card-bordered service-card">
                    <div class="card-pinned">
                      <i class="fa fa-coins" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                      <div class="mb-3">
                        <h3 class="card-title">
                          Financial Projection
                        </h3>
                        <p>
                          Detailed financial projection services to forecast your business's future financial performance. This includes revenue projections, expense estimates, cash flow analysis, and financial modeling to help you make informed business decisions.
                        </p>
                      </div>
                    </div>
                    <button type="button" onclick="window.location='contact.html'" name="" id="" class="btn">
                      Learn More
                  </button>
                  </div>
                  <div class="card card-bordered service-card">
                    <div class="card-pinned">
                      <i class="fa fa-building" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                      <div class="mb-3">
                        <h3 class="card-title">
                          Business Plan
                        </h3>
                        <p>
                          Comprehensive business plan development services to outline your business strategy, objectives, market analysis, competitive landscape, and financial plan. Our detailed and professionally written business plans are tailored to attract investors and guide your business to success.
                        </p>
                      </div>
                    </div>
                    <button type="button" onclick="window.location='contact.html'" name="" id="" class="btn">
                      Learn More
                  </button>
                  </div>
                  <div class="card card-bordered service-card">
                    <div class="card-pinned">
                      <i class="fa fa-paint-brush" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                      <div class="mb-3">
                        <h3 class="card-title">
                          Pitch Deck Design
                        </h3>
                        <p>
                          Creation of visually engaging and persuasive pitch decks to effectively communicate your business idea, vision, and value proposition to potential investors and stakeholders. Our pitch decks are designed to make a lasting impact and drive investment.
                        </p>
                      </div>
                    </div>
                    <button type="button" onclick="window.location='contact.html'" name="" id="" class="btn">
                      Learn More
                  </button>
                  </div>
                </div>
                  </div>
        <div class="contact">
            <div class="contact-head">
                <img src="{% static 'assets/image/EmboldLabLogo.png' %}"  alt="">
                <h2>Thank You For Your Interest In Embold Lab</h2>
                <p>We would love to hear from you and discuss how we can help bring your digital ideas to life. Here are the different ways you can get in touch with us.</p>
                <a href="{% url 'contact' %}"><button type="button" class="btn">Start Project</button></a>
            </div>
        </div>
        </main>
{% endblock %}