

{% load static %}
<!DOCTYPE html>
<html lang="en" dir="" class="h-100">

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
 <title>Success- Embold Design || Empowering Your Digital Journey: Turning Ideas into Successful Enterprises with Product Design & Development</title>

  <!-- Favicon -->
   <link rel="icon" type="image/png" href="{% static 'assets/img/svgheaer.png' %}">
   <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'assets/css/vendor.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/font/bootstrap-icons.css' %}">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'assets/css/theme.minc619.css' %}">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
    <link rel="icon" type="image/png" href="{% static 'assets/img/svgheaer.png' %}">
    <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-83EF82WB2V"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-83EF82WB2V'); </script>


</head>

<body class="d-flex flex-column justify-content-center align-items-center h-100">
  <!-- ========== HEADER ========== -->
  <header id="header" class="navbar navbar-expand navbar-light navbar-absolute-top">
    <div class="container">
      <nav class="navbar-nav-wrap mt-2">
        <!-- Default Logo -->
        <a class="navbar-brand" href="{% url 'home' %}" aria-label="Front">
          <img class="navbar-brand-logo" src="{% static 'assets/img/logo.png' %}" alt="Logo">
        </a>
        <!-- End Default Logo -->
      </nav>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Content -->
    <div class="container text-center align-items-center">
      
      <div class="mb-4">
      <div class="mb-4 align-items-center container" style="margin: auto">
       
       <dotlottie-player class=" align-items-center" src="https://lottie.host/933f1dc9-1704-4585-acb5-1b0e6a2ac377/2wD5cslpiO.json" background="transparent" speed="1" style="width: 100%; height: 20rem; align-items: center;" loop autoplay></dotlottie-player>
      </div>

        <p class="fs-4 mb-0">Thank you for your purchase!</p>
        <p class="fs-4">Your payment was successful. An email confirmation has been sent to your inbox.</p>
      </div>

      <a class="btn btn-primary" href="{% url 'home' %}">Go back home</a>
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <!-- Add any footer content here if necessary -->
  <!-- ========== END FOOTER ========== -->

  <script src="{% static 'assets/js/theme.min.js' %}"></script>
</body>
</html>
