  /* Google Fonts - Barlow */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-container {
    box-sizing: border-box;
    font-family: "Barlow";
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px 30px;
}

input{
    outline: none;
}

.contact-hero{
    background: url("/static/assets/image/contacthero.c6d37cb30534.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 1500px;
    padding: 90px 20px;
    color:white;
    text-align:center;
}


.closer-container{
    min-width:70%;
    text-align:center;
    margin:40px 0px;
}

.closer-img{
    margin-top: 70px;
}

.closer-img img{
    object-fit: cover;
    width:100%;
    height:auto;
}

.form-section{
    min-width: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-email, .why-contact-us, .message{
    background: var(--lightgray-color);
    padding: 20px;
    margin:20px;
    border-radius: 20px;
}

.name-email, .why-contact-flex{
    display:flex;
    border-radius: 20px;
}

.name-form, .email-form{
    padding:0px 30px;
    margin: 30px;
    width:50%;
}

.name-form input, .email-form input{
    width:100%;
    margin-top: 20px;
    background: transparent;
    border-width:0px 0px 2px 0px;
    padding: 10px;
}

.name-form ::placeholder, .email-form ::placeholder{
    color: var(--deepgrey-color);
}

.why-contact-us{
    border-radius: 20px;
    padding: 50px;
}

.why-contact-left{
    width: 50%;
}

.why-contact-left label{
    font-size: 20px;
}

.why-contact-left input[type="checkbox"]{
        margin-right: 10px;
}

.message textarea{
    width: 100%;
    background:transparent;
    border-width:0px 0px 2px 0px;
    border-style:solid;
    outline: none;
    outline: none;
}

.form-botton{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 60px 0px;
}
input[type=submit]{
    background: var(--primary-button-color);
    color: white;
    border:none;
    padding: 10px 60px;
    font-size: 25px;
    border-radius:20px;
}

.operating-button{
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.operating-hour, .stay-tuned-container{
    display:flex;
}

.operating-hour{
    display: flex;
    align-items: center;
    gap: 14px;
    padding:5px 10px;
    border-right:1px solid var(--deepgrey-color);
}

.operating-hour h4, .operating-hour h5{
    margin:10px;
}

.operating-hour h5{
    background:black;
    color:white;
    padding: 20px 20px;
    border-radius: 5px;
}

.stay-tuned-container{
    align-items: center;
    padding:10px 20px;
}

.stay-tuned{
    display: flex;
    align-items: center;
}

.stay-tuned .button{
    display: flex;
}

.stay-tuned  .stay-button{
    margin-left: 30px;
}

.img-stay{
    margin:3px;
    background:var(--light-orange);
    color: orange;
    padding: 15px;
    border-radius: 10px;
}

/* .stay-text h5{
    font-size: 25px;
} */

/*---========== ACCORDANCE START HERE ============*/

.faq-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align:center;
    min-width:100%;
    margin-bottom: 300px;
}

.faq-question-flex{
    display:flex;
    margin-top: 20px;
}

.accordance-each-side{
    width:50%;
    padding:15px;
}

.accord-box{
    display:flex;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
}

.accord-number h5{
    background:var(--light-orange);
    text-align: center;
    padding: 20px;
    margin: 20px;
}

/*---========== ACCORDANCE ENDS HERE ============*/


.squareup-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-width:70%;
    margin: 0px 10%;
}

.square-up-today{
    display:flex;
    margin-bottom: 30px;
}

.square-img{
    width:30%;
}
.square-img img{
    width:100%;
    height:auto;
}

.square-text{
width: 70%;
}

.square-text h5{
    font-family: "Barlow";
    font-style: normal;
    color:var(--deepgrey-color);
}

.square-text h6{
   margin-right: 60px;
}

.square-box-2{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    border:2px solid var(--deepgrey-color);
    padding: 20px;
    border-radius: 10px;

}

.square-box-2 p{
    font-family: "Barlow";
    font-style: normal;
}
.square-box-2 h6{
    background:var(--lightgray-color);
    padding: 30px 15px;
    border-radius: 10px;
}

.square-box-2 button{
    background:var(--primary-button-color);
    border:none;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: "Barlow";
    font-style: normal;
}




/*---==========  CSS START HERE ============*/
.-main-container{
    justify-content: space-around;
}
.-content{
    justify-content: space-around;
}
.title{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.title-top{
    display:flex;
}

.title-top h6{
    margin: 5px;
}

.title-top h6:nth-child(2){
    color:var(--primary-button-color);
}

.title h2{
    font-size: 30px;
    letter-spacing: 1px;
}

article{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

article b{
    color: var(--deepgrey-color);
    line-height: 35px;
}

article p{
    color: var(--grey-color);
    line-height: 25px;
}


.blog-stay-connected{
    border:1px solid var(--deepgrey-color);
    padding: 20px;
    border-radius: 10px;
    padding-left: 50px;
    width: 80%;
    margin-bottom: 60px;
    margin-top: 50px;
}

.blog-stay-connect-top{
    width: 40%;
    margin-bottom: 40px;
}

/* .blog-stay-connect-top h2, .blog-stay-connect-bottom h2{
    font-size: 30px;
} */

/* .blog-stay-connect-top p, .blog-stay-connect-bottom p{
    font-size: 20px;
} */

.blog-stay-connect-bottom{
    display:flex;
    align-items: center;
    border: 1px solid var(--deepgrey-color);
    border-radius: 20px;
    padding: 20px;
}
.blog-stay-connect-bottom .left, .blog-stay-connect-bottom .right{
    width:50%;
}

.blog-stay-connect-bottom .left{
    margin-right:70px;
}

.blog-stay-connect-bottom .right{
    position:relative;
}

.blog-stay-connect-bottom .right form input[type=email]
{
    padding: 20px;
    min-width:99%;
    border-radius: 20px;
    border: 1px solid var(--primary-button-color);
}

.blog-stay-connect-bottom .right form input[type=submit]
{
position:absolute;
top:4px;
right:7px;
padding: 10px 10px;
z-index: 10;
}
